@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* body shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

/* common shared styles */
.btn-primary {
    border-radius: 8px;
    border: 0;
    background: rgb(255, 255, 255);
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
}

.btn-primary i {
    margin-left: 50px;
}

.color-btn {
    border-radius: 8px;
    border: 0;
    background: rgb(255, 84, 0);
    padding: 15px 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
}

/* header related styles */

/* nav related styles */
nav {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5px;
    width: 1170px;
    margin: 0 auto;
}

.nav-img-title img {
    margin-right: 15px;
}

.nav-img-title {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
}

.nav-img-title h2 {
    font-size: 36px;
    font-weight: 800;
}

.nav-content {
    /* border: 2px solid blue; */
}

.nav-content a {
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-size: 20px;
    font-weight: 500;
}

.nav-content span {
    margin-right: 40px;
}

/* banner related styles */
.banner {
    max-width: 1170px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    object-fit: cover;
    display: flex;
}

.linear-gradient {
    width: 100%;
    height: 500px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%);
    border-radius: 16px;
    text-align: center;
    color: white;
}

.banner-title {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 100px;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.banner-input {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 50px;
}

/* main related styles */
main {
    max-width: 1170px;
    margin: 0 auto;
}

/* tours related styles */
.tours-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour-title {
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
}

.tours-content ul {
    padding: 20px;
}

.tours-content ul li {
    margin-bottom: 16px;
}

.tour-description {
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.tours-content button {
    margin-top: 32px;
}

/* choose-section-styles */
.choose-section {
    margin-top: 100px;
    text-align: center;
}

.choose-title {
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
}

.choose-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 12, 1fr;
    grid-template-rows: 3, 1fr;
    gap: 15px;
    margin-top: 50px;
}

.grid-container div h3 {
    position: relative;
    bottom: 55%;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

.grid-container img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.grid-item-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}

.grid-item-3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.grid-item-4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}

.grid-item-5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}

.grid-item-6 {
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}

.grid-item-7 {
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}

/* card section styles*/
.card-section {
    margin-top: 100px;
}

.card-heading {
    text-align: center;
}

.card-2-container {
    margin-top: 50px;
    display: flex;
    gap: 25px;
}

.card-1-container {
    position: relative;
    left: 25%;
    margin-top: 25px;
}

.card {
    width: 50%;
    height: 284px;
    padding: 30px 50px 30px 30px;
}

.card img {
    width: 10%;
    margin-bottom: 10px;
}

.card>h4 {
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

#card-1 {
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

#card-2 {
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
}

#card-3 {
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
}

/* discount section styles */
.discount-section {
    margin-top: 100px;
}

.discount-content {
    text-align: center;
}

.discount-img-container {
    margin-top: 50px;
}

.discount-img-container div {
    margin-bottom: 25px;
}

.discount-img-1 {
    height: 500px;
    background-image: url(../Images/Group\ 39.png);
    border-radius: 16px;
}

.discount-img-2 {
    height: 500px;
    background-image: url(../Images/Group\ 40.png);
    border-radius: 16px;
}

.discount-img-3 {
    height: 500px;
    background-image: url(../Images/Group\ 39.png);
    border-radius: 16px;
}

.card-contect {
    border: 5px solid #fff;
    width: 579px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 50px 50px 50px;
    position: relative;
    left: 45%;
    top: 10%;
}

.midle-img-card {
    border: 5px solid #fff;
    width: 579px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 50px 50px 50px;
    position: relative;
    top: 10%;
    left: 5%;
}

.card-contect,
.midle-img-card,
span {
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    margin-right: 25px;
}

.card-contect,
.midle-img-card,
h3 {
    color: rgb(19, 19, 24);
    font-size: 24px;
    font-weight: 800;
    margin-top: 25px;
}

.card-contect,
.midle-img-card,
p {
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.card-contect,
.midle-img-card,
h4 {
    color: rgb(255, 84, 0);
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 25px;
}

/* place section styles */
.place-section {
    margin-top: 100px;
    display: flex;
    gap: 30px;
}

.place-content h3 {
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.place-content p {
    color: rgb(90, 90, 93);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.place-content ul {
    margin-bottom: 10px;
    padding: 15px;
}

.place-content ul li {
    color: rgb(19, 19, 24);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* Newsletter section */

.newsletter-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.input-container {
    padding: 40px;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
}

.input-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.input-container input {
    padding: 10px 25px;
    border-radius: 6px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    color: rgba(19, 19, 24, 0.3);
    font-size: 16px;
    font-weight: 400;

}

.input-container .sub-btn {
    padding: 10px 25px;
    border: 0;
    border-radius: 6px;
    background: rgb(255, 84, 0);
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}

/* footer section styles*/
.footer {
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
}

.footer-content {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    height: 500px;
}

.foot-title {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px; 
}
.foot-title h5{
    color: rgb(19, 19, 24);
    font-size: 32px;
    font-weight: 800;
}

.title-color{
    color: rgb(255, 84, 0);
    font-size: 32px;
    font-weight: 900;
}

.footer-content > p{
    margin-bottom: 30px;
}
.footer-content img{
    width: 10%;
    border-radius: 50%;
}
.footer-content h6{
    color: rgb(19, 19, 24);
}
.footer-content h3{
    color: rgb(19, 19, 24);
    margin-bottom: 10px;
}

.footer-content  hr{
    border: 1px solid rgba(19, 19, 24, 0.1);
    margin-top: 50px;
}